<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#/index">Cloud University</a>
        <ul class="nav navbar-nav">
        </ul>
    </div>
    
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/login">Login</a></li>
        <li><a href="#/signup">Sign Up</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div  class="banner">
		<h1 class="banner-head">
			
		</h1>
</div>
    
	<div class="l-content">
		<div class="row">
			<div class="col-lg-4">
				<div class="pricing-table pricing-table-free">
					<div align="center" class="pricing-table-header">
						<h2>< 20 Students</h2>

						<span class="pricing-table-price">
							$100 <span>per month</span>
						</span>
					</div>

					<ul class="pricing-table-list">
						<li>Custom sub-domain</li>
						<li>Standard customer support</li>
						<li>1GB file storage</li>
						<li>Unlimited bandwidth</li>
					</ul>

				</div>
			</div>

			<div class="col-lg-4">
				<div class="pricing-table pricing-table-biz pricing-table-selected">
					<div align="center" class="pricing-table-header">
						<h2>< 1000 Students</h2>

						<span class="pricing-table-price">
							$20 <span>per student per month</span>
						</span>
					</div>

					<ul class="pricing-table-list">
						<li>Use your own domain</li>
						<li>Standard customer support</li>
						<li>10GB file storage</li>
						<li>Unlimited bandwidth</li>
					</ul>

				</div>
			</div>

			<div class="col-lg-4">
				<div class="pricing-table pricing-table-enterprise">
					<div align="center" class="pricing-table-header">
						<h2>> 1000 Students</h2>

						<span class="pricing-table-price">
							$5 <span>per student per month</span>
						</span>
					</div>

					<ul class="pricing-table-list">
						<li>Use your own domain</li>
						<li>Premium customer support</li>
						<li>Unlimited file storage</li>
						<li>Unlimited bandwidth</li>
					</ul>

				</div>
			</div>
		</div> <!-- end pricing-tables -->

		<div class="row">
			<div class="col-lg-5 col-md-offset-1">
				<div class="l-box">
					<h3 class="information-head">Get started today</h3>
					<p>
						Within minutes of signing up you will have access to your very own Student Management Service. Its ease of use and student centered approach makes it highly desired for universities looking to outsource their needs.
					</p>
				</div>
			</div>

			<div class="col-lg-5 col-md-offset-1">
				<div class="l-box">
					<h3 class="information-head">Cancel your plan any time</h3>
					<p>
						With Our Flexible Paying method you can cancel at any time and your data will be stored for up till 6 months from last paid subscription. You can always reactivate or export your data as needed.
					</p>
				</div>
			</div>
		</div> <!-- end information -->
	</div> <!-- end l-content -->