  <nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#/index">Cloud University</a>
        <ul class="nav navbar-nav">
            <li><a href="#/lecturing">Lecturer</a></li>
        </ul>
    </div>
    
      <ul ng-hide="$rootScope.user != null" class="nav navbar-nav navbar-right">
        <li><a href="#/login">Login</a></li>
        <li><a href="#/signup">Sign Up</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <div class="container" style="max-width: 400px;">
    <h3>Assigned Courses</h3><br>
        <accordion close-others="oneAtATime">
                <accordion-group heading="{{course.RowKey}}"  ng-repeat="course in courses">
                        <div>
                            <h4>Add Assignment</h4>
                                 <input type="text" class="form-control"  ng-model="courseID" placeholder="Course ID" required />
                                <input type="text" class="form-control"  ng-model="studentId" placeholder="Student ID" required />
                                <button type="submit" class="btn btn-primary" ng-click="addAssignment()">Update</button>
                                 <button type="submit" class="btn btn-primary" ng-click="update()">Apply</button>  
                        </div>
                       <!-- <div>
                            <h4>Add CW</h4>
                            <input type="text" class="form-control"  ng-model="" placeholder="CW Name" required />
                            <button type="submit" class="btn btn-primary" ng-click="">Add CW</button>
                        </div>
                        <div>
                            <h4>Update Marks</h4>
                            <input type="text" class="form-control"  ng-model="" placeholder="StudentID" required />
                            <input type="text" class="form-control"  ng-model="" placeholder="Assignment ID" required />
                            <input type="text" class="form-control"  ng-model="" placeholder="CW Marks" required />
                            <input type="text" class="form-control"  ng-model="" placeholder="Grade" required />
                            <button type="submit" class="btn btn-primary" ng-click="">Update Marks</button>
                        </div>-->
                    </accordion-group>
            </accordion>
        <div ng-if="courses.length == 0" style="color:blue;">
              <strong>No Assigned Courses</strong>
        </div>
    </div>
  </div> 
    <div class="col-md-5 col-md-offset-1">
        <form role="form" style="max-width: 400px;">
            <h3>Enter Course ID</h3><br>
            <div class="form-group">
                  <label  for="sId">Id</label>
                  <input type="text" class="form-control"  ng-model="sId" placeholder="Course Id" required />
            </div>
            <button type="submit" class="btn btn-primary" ng-click="findCourse()">Register list</button>
    </div>
</div>