<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#/index">Cloud University</a>
        <ul class="nav navbar-nav">
        </ul>
    </div>
    
      <ul ng-hide="$rootScope.user != null" class="nav navbar-nav navbar-right">
        <li><a href="#/login">Login</a></li>
        <li><a href="#/signup">Sign Up</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container" style="max-width: 400px;" >
  <form role="form" ng-submit="login()">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control"  ng-model="username" placeholder="Email" required />
  </div>
  <div class="form-group">
    <label for="Password">Password</label>
    <input type="password" class="form-control" ng-model="password" placeholder="Password" required />
  </div>
  <button type="submit" class="btn btn-primary">Login</button> <button class="btn btn-default"><a href="#/signup">Sign Up</a></button>
  </form>
    <div ng-show="failed" class="alert alert-danger" role="alert">Login Failed</div>
</div>