<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#/index">Cloud University</a>
        <ul class="nav navbar-nav">
            <li><a href="#/coures">Courses</a></li>
            <li><a href="#/lecturing">Lecturer</a></li>
            <li><a href="#/measurements">Metering</a></li>
            <li ng-hide="$rootScope.user.Role != 'Admin'"><a href="#/add/user">Add User</a></li>
            <li ng-hide="$rootScope.user.Role != 'Admin'"><a href="#/add/courses">Add Course</a></li>
        </ul>
    </div>
    
      <ul ng-hide="$rootScope.user != null" class="nav navbar-nav navbar-right">
        <li><a href="#/login">Login</a></li>
        <li><a href="#/signup">Sign Up</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container" style="max-width: 400px;" >
  <form role="form" ng-submit="saveMetric()">
  <div class="form-group">
    <label for="AutoScale">Auto Scale</label>
      Auto Scaling is: {{metric.AutoScale}}
    <input type="checkbox" class="form-control"  ng-model="metric.AutoScale" />
  </div>
  <div ng-init="CurrentBilling" class="form-group">
    <label for="CurrentBilling">Current Billing</label>
      {{CurrentBilling}}
  </div>
  <div class="form-group">
    <label for="CurrentUsers">Current Billing</label>
      {{CurrentUsers}}
  </div>
  <div class="form-group">
    <label for="MaxUsers">Current Billing</label>
      {{MaxUsers}}
    <input type="text" class="form-control" ng-model="MaxUsers" placeholder="Max Users" required />
  </div>
  <button type="submit" class="btn btn-primary">Update</button> 
  </form>
    <div ng-show="failed" class="alert alert-danger" role="alert">Login Failed</div>
</div>