<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#/index">Cloud University</a>
        <ul class="nav navbar-nav">
            <li ><a href="#/add/user">Add User</a></li>
            <li><a href="#/add/courses">Add Course</a></li>
        </ul>
    </div>
    
      <ul ng-hide="$rootScope.user != null" class="nav navbar-nav navbar-right">
        <li><a href="#/login">Login</a></li>
        <li><a href="#/signup">Sign Up</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="row">
    
    <div class="col-md-5 col-md-offset-1">
        <h3>Student To Register</h3><br>
          <accordion close-others="oneAtATime">
                <accordion-group heading="{{person.RowKey}}"  ng-repeat="person in students">
                      [{{$index + 1}}]&nbsp;&nbsp; {{person.RowKey}}&nbsp;&nbsp; {{person.Email}}
                    </accordion-group>
            </accordion>
        <div ng-if="students.length == 0" style="color:red;">
              <strong>Please Add Students</strong>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="send()">Register</button>
    </div>
    <div class="col-md-5 col-md-offset-1">
        <form role="form" style="max-width: 400px;">
            <h3>Student to add to Registration Queue</h3><br>
            <div class="form-group">
                  <label  for="Id">ID for Student</label>
                  <input type="text" class="form-control"  ng-model="sId" placeholder="Student Id" required />
            </div>
            <div class="form-group">
                  <label  for="id">Password</label>
                  <input type="password" class="form-control"  ng-model="Password" placeholder="Password" required />
            </div>
             <div class="form-group">
                  <label  for="Email">Students Email</label>
                  <input type="email" class="form-control"  ng-model="Email" placeholder="Student Email" required />
            </div>
            <div class="form-group">
                <div class="input-group">
                  <label  for="FirstName">First Name</label>
                  <input type="text" class="form-control"  ng-model="FirstName" placeholder="First Name" required />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                  <label  for="MiddleName">Middle Name</label>
                  <input type="text" class="form-control"   ng-model="MiddleName" placeholder="Middle Name" required />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                  <label  for="LastName">Last Name</label>
                  <input type="text" class="form-control"   ng-model="LastName" placeholder="Last Name" required />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                  <label  for="Status">Status</label>
                  <input type="text" class="form-control"   ng-model="Status" placeholder="Status" required />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                  <label  for="Role">Role</label>
                  <input type="text" class="form-control"   ng-model="Role" placeholder="Role" required />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                  <label  for="PhoneNumber">Phone Number</label>
                  <input type="number" class="form-control"   ng-model="PhoneNumber" placeholder="Phone Number" required />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                  <label  for="Address">Address</label>
                  <input type="text" class="form-control"  ng-model="Address" placeholder="Address" required />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                  <label  for="DOB">Date Of Birth</label>
                  <input type="date" class="form-control"  ng-model="DOB"  required />
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary" ng-click="addStudent()">Add to list</button>
        </form>
    </div>
</div>