  <nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#/index">Cloud University</a>
        <ul class="nav navbar-nav">
            <li><a href="#/add/user">Add User</a></li>
            <li><a href="#/add/courses">Add Course</a></li>
        </ul>
    </div>
    
      <ul ng-hide="$rootScope.user != null" class="nav navbar-nav navbar-right">
        <li><a href="#/login">Login</a></li>
        <li><a href="#/signup">Sign Up</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="row">
    
    <div class="col-md-5 col-md-offset-1">
        <h3>Courses To Register</h3><br>
        <accordion close-others="oneAtATime">
                <accordion-group heading="{{course.Name}}"  ng-repeat="course in courses">
                      [{{$index + 1}}]&nbsp;&nbsp; {{course.Name}}&nbsp;&nbsp; {{course.Programme}}
                    </accordion-group>
            </accordion>
        <div ng-if="courses.length == 0" style="color:red;">
              <strong>Please Add Courses</strong>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="send()">Register</button>
    </div>
    <div class="col-md-5 col-md-offset-1">
        <form role="form" style="max-width: 400px;">
            <h3>Courses to add to Registration Queue</h3><br>
            <div class="form-group">
                  <label  for="sId">Id</label>
                  <input type="text" class="form-control"  ng-model="sId" placeholder="Course Id" required />
            </div>
            <div class="form-group">
                  <label  for="Name">Name</label>
                  <input type="text" class="form-control"  ng-model="Name" placeholder="Name" required />
            </div>
            <div class="form-group">
                  <label  for="Programme">Programme</label>
                  <input type="text" class="form-control"  ng-model="Programme" placeholder="Programme" required />
            </div>
             <div class="form-group">
                  <label  for="Level">Level</label>
                  <input type="text" class="form-control"  ng-model="Level" placeholder="Level" required />
            </div>
            <div class="form-group">
                <div class="input-group">
                  <label  for="MaxStudents">Max Students</label>
                  <input type="number" class="form-control"  ng-model="MaxStudents" placeholder="Max Students" required />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                  <label  for="Semester">Semester</label>
                  <input type="text" class="form-control"   ng-model="Semester" placeholder="Semester" required />
                </div>
            </div>            
            <button type="submit" class="btn btn-primary" ng-click="addCourse()">Add to list</button>
        </form>
    </div>
</div>