<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#/index">Cloud University</a>
        <ul class="nav navbar-nav">
        </ul>
    </div>
    
      <ul ng-hide="$rootScope.user != null" class="nav navbar-nav navbar-right">
        <li><a href="#/login">Login</a></li>
        <li><a href="#/signup">Sign Up</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container" style="max-width: 400px;">
  <form role="form">
  <div class="form-group">
    <label for="Name">University Name</label>
    <input type="text" class="form-control"  ng-model="Name" placeholder="University Name" required />
  </div>
  <div class="form-group">
    <label for="Email">Abbrivation</label>
    <input type="text" class="form-control" ng-model="Abbr" placeholder="Abbrivation" required />
  </div>
  <div class="form-group">
    <label for="DomainName">Domain Name</label>
    <input type="text" class="form-control" ng-model="DomainName" placeholder="DomainName" required />
  </div>
   <div class="form-group">
    <label for="Email">Email</label>
    <input type="email" class="form-control"  ng-model="Email" placeholder="Email" required />
  </div>
  <div class="form-group">
    <label for="Password">Password</label>
    <input type="password" class="form-control" ng-model="Password" placeholder="Password" required />
  </div>
     <p><input type="checkbox" ng-model="AutoScaling"/> Auto Scaling</p>
  <div class="form-group">
    <label for="ServiceableUsers">Serviceable Users</label>
    <input type="number" class="form-control" ng-model="ServiceableUsers" placeholder="Number of Users" required />
  </div>
  </form>
    <button type="submit" class="btn btn-primary" ng-click="signup()" >Sign Up</button>
</div>